<!DOCTYPE html>
<html lang="" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub Profiler</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" ng-controller="GithubController as home">
    	<div class="well well-lg" style="margin-top: 20px;">
    		<h1 class="text-center">GitHub Profiler</h1>
       		<h3 class="text-center"><i>Creep on a GitHub user of your choice ( ͡° ͜ʖ ͡°)</i></h3>
    	</div>
    	<div class="input-group">
  			<input type="text" class="form-control" placeholder="Recipient's GitHub username" aria-describedby="basic-addon2" ng-model="home.username">
  			<span class="input-group-addon">
            	<button ng-click="home.callGithubApi(home.username)">Creep!</button>
  			</span>
		</div>
		<hr size=5>
		<div class="row text-center" id="details" style="margin-top: 10px; visibility: hidden;">
			<div class="col-md-3 text-center" style="margin-bottom: 10px;">
				<a ng-href={{home.user.html_url}}>
					<img class="img-responsive img-circle" ng-src={{home.user.avatar_url}} alt="Description">
				</a>
				<hr size=5>
				<a ng-href={{home.user.html_url}}>
					<p><b>{{home.user.name}}</b> {{home.user.login}}</p> 
				</a>
				<p>{{home.user.location}}</p> 
				<p ng-class=home.hireableColor>{{home.user.hireable}}</p> 
				<p>Slinging feces since {{home.user.created_at | date:'MMM d, y'}}</p> 
			</div>
  			<div class="well col-md-2" style="margin-left: 40px;">
  				<h5>Followers</h5>
  				<p>{{home.user.followers}}</p>
  				<!--<button>View Followers</button>-->
  			</div>
  			<div class="well col-md-2" style="margin-left: 40px;">
  				<h5>Following</h5>
  				<p>{{home.user.following}}</p>
  				<!--<button>View Following</button>-->
  			</div>
  			<div class="well col-md-2" style="margin-left: 40px;">
  				<h5>Public Repositories</h5>
  				<p>{{home.user.public_repos}}</p>
  				<button ng-click="home.getUserRepos(home.username)">{{home.repoButton}}</button>
  			</div>
			<div class="well col-md-8" id='table' style="visibility: hidden;">
  				<table class="table" style="margin-left: 10px;">
					<tr>
						<th style="text-align: center;">Name</th>
						<th style="text-align: center;">Description</th>
						<th style="text-align: center;">URL</th>
					</tr>
					<tr ng-repeat="repo in home.repos">
						<td>{{repo.name}}</td>
						<td><i>{{repo.description}}</i></td>
						<td>{{repo.html_url}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- SHORTCUT: script:src -->
    <script src="app/app.module.js"></script>
    <script src="app/home/home.controller.js"></script>
</body>

</html>
